
desktop.ini
.obsidian/workspace
.obsidian/workspace.json
.obsidian/workspaces.json
.obsidian/plugins/recent-files-obsidian/data.json
.obsidian/plugins/obsidian-activity-history/data.json
.vault-stat
.vault-stats
.DS_Store
